form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    margin-top: auto;
    /* add this line */
}

hr {
    margin: 4px;
    padding: 4px;
    border: none;
    border-bottom: 1px solid #8b8b8b;
}

textarea {
    height: 64px;
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-radius: 8px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

form.disabled,
button[type="submit"][disabled] {
    opacity: 0.5;
    pointer-events: none;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 256px;
    height: 100vh;
    display: flex;
    background-color: #f1f1f1;
    overflow-x: hidden;
    flex-direction: column;
    flex-shrink: 0;
}

.active {
    background-color: #ccc;
}

.conversation-element {
    margin: 8px;
    padding: 8px;
    height: 32px;
    display: flex;
    align-items: center;
}

.conversation-list {
    overflow-y: auto;
}

.conversation-button {
    background-color: #f1f1f1;
    border-radius: 8px;
    border: 2px solid #ddd;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conversation-menu {
    margin-top: auto;
}


.conversation-header {
    font-size: 32px;
    font-weight: bold;
}

.conversation-container {
    position: absolute;
    top: 0;
    left: 256px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.conversation-container-header {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    min-height: 32px;
    padding: 16px;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.conversation-header-button {
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

.conversation-header-button .material-symbols-outlined {
    fill: #999;
}

.conversation-header-button .material-symbols-outlined:hover {
    fill: #000;
}

[contenteditable] {
    border: #000;
    border-radius: 4px;
}

.conversation-container-header-title{
    padding-left: 16px;
    padding-right: 16px;
}

.message-element {
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 60%;
    max-width: 90%;

}

.message-by-user {
    background-color: #007bff4f;
    color: #3e3e3e;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
}

.message-by-assistant {
    background-color: #f8f9fa;
    color: #3e3e3e;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: auto;
}

.conversation-user-input {
    margin-top: auto;
    bottom: 0;
}

.conversation-messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.slide-up {
    animation-name: slide-up;
    animation-duration: 0.5s;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}